<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
	method이름과 동일해야 한다 
  public String insertMember(Map<?, ?> map);
	public List<?> selectAll(Command cmd);
	public String count(Command cmd);
	public StudentBean selectById(Command cmd);
	public List<?> selectByName(Command cmd);
	public String updateProfile(MemberBean bean);
	public String deleteUser(Command cmd);
	public MemberBean login(Command cmd);
  
  
   -->
  
  <!-- CRUD -->
  
<mapper namespace="com.gms.web.mapper.MemberMapper">
<select id="count"
 resultType="com.gms.web.member.MemberDTO"
 parameterType="com.gms.web.command.CommandDTO">
	select count(*) as count from member
</select>

 <select id="login" resultType="com.gms.web.member.MemberDTO" parameterType="com.gms.web.command.CommandDTO">
	select * from member where member_id = #{search}
	
</select> 

</mapper>